body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(95,34,195);
    background: linear-gradient(0deg, rgb(75, 21, 162) 0%, rgb(48, 10, 85) 100%);
}

section.slider{
    margin: 0 auto;
    width: 100%;
    height: 30vw;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.slider-content{
    width: 400%;
    height: 100%;
    display: flex;
}

.slider-content input{
    display: none;
}

.slider-box{
    width: 25%;
    height: 100%;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-box img{
    width: 100%;
    height: auto;
}

.slider-manual{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.slider-manual .btn-label{
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.slider-manual .btn-label:not(:last-child){
    margin-right: 10px;
}

.slider-manual .btn-label:hover{
    background-color: rgb(206, 188, 232);
}

#radio1:checked ~ .slider-manual .btn-label1, #radio2:checked ~ .slider-manual .btn-label2, #radio3:checked ~ .slider-manual .btn-label3, #radio4:checked ~ .slider-manual .btn-label4{
    background-color: rgb(206, 188, 232);
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

/* @media screen and (max-width: 900px) {
    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }

    .slider-auto, .slider-manual{
        margin-top: 60%;
    }
} */